<<<<<<< HEAD
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

=======
.Spinner-container{
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
width: 100%;
>>>>>>> 9375c9e4b4d3539125afc7d1817adb65cca86107
}